.flyer {
    background-image: url("https://www.paperdirect.com/-/media/products/pd/stationery/business-stationery/border-papers/designed-border-papers/hf0662p-pd1097-halloween-night-border-papers-000.ashx?bc=FFFFFF&w=540&h=540");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    margin: 2%;
    text-align: center;
    margin-bottom: 4rem;
}

.container {
    background-color: #130c0c;
    opacity: 0.4;
    height: 100%;
    overflow: auto;
}

h1 {
    color: white;
    padding-top: 12rem;
}

.radio-group {
    display: flex;
    flex-direction: column;
    border: 3px solid #868686;
    border-radius: 3px;
    margin: 1rem;
    padding: 0.5rem;
    color: white;
}

.fa-chevron-right:before, .fa-chevron-left:before {
    font-size: 1.5rem;
    color: white;
}

.button {
    background-color: rgb(219, 159, 7);
}