<div class="grid-container">
    <img class="grid-item" src="../../assets/images/IMG_6051.JPG">
    <img class="grid-item" src="../../assets/images/IMG_6052.JPG">
    <img class="grid-item" src="../../assets/images/IMG_6053.JPG">
    <img class="grid-item" src="../../assets/images/IMG_6055.JPG">
    <img class="grid-item" src="../../assets/images/IMG_6056.JPG">
    <img class="grid-item" src="../../assets/images/IMG_6057.JPG">
    <img class="grid-item" src="../../assets/images/IMG_6061.jpg">
    <img class="grid-item" src="../../assets/images/IMG_6062.jpg">
    <img class="grid-item" src="../../assets/images/IMG_6063 2.jpg">
    <img class="grid-item" src="../../assets/images/IMG_6054.JPG">
    <img class="grid-item" src="../../assets/images/IMG_6058.JPG">
    <img class="grid-item" src="../../assets/images/IMG_6063.jpg">
</div>
