<!-- <div class="flex-container">
    <img src="../../assets/images/nbacases.jpg">
    <img src="../../assets/images/12bands.jpg">
    <img src="../../assets/images/megcases.jpg">
    <img src="../../assets/images/watches.jpg">
</div>
<div class="flex-container">
    <img src="../../assets/images/watchess.jpg">
    <img src="../../assets/images/sales-flyer.jpg">
    <img src="../../assets/images/phone-repair.jpg">
    <img src="../../assets/images/phone-repair-img-one.JPG">
</div> -->
<img src="../../assets/images/coming-soon2.jpeg">