/* .flex-container {
    display: flex;
    background-color: dodgerblue;
    width: 1280px;
}

.flex-container > img{
    padding: 30px;
    font-size: 30px;
}
img {
    height: 250px;
    width: 250px;
}

@media screen and (max-width:450px) {
    .flex-container {
        display: flex;
        flex-direction: column;
        background-color: red;
    }
    .flex-container > img{
        background-color: #f1f1f1;
        margin: 10px;
        padding: 20px;
        font-size: 30px;
    }
    img {
        height: auto;
        width: 100%;
    }
} */
img {
    width: auto;
    height: auto;
}