<h1 @fade>{{ title }}
    <i class="fas fa-briefcase-medical"></i>
</h1>

<div *ngFor="let phone of phones">
    <ul class="accordion">
        <li [ngStyle]="{ 'background-image': phone.src }">
            <div class="heading"> {{phone.phoneName}} </div>
            <div class="description">
                <h2> {{phone.phoneName}} </h2>
                <p> {{phone.repairPrice}} </p>
                <h4> {{phone.oldRepairPrice}} </h4>
                <a [routerLink]="['/book']"><button mat-fab color="primary">Book It!</button></a>
            </div>
        </li>
    </ul>
</div>