.fa-briefcase-medical {
    color: rgb(226, 211, 211);
}

ul.accordion {
    float: left;
    list-style: none;
    font-family: Camria, serif;
    font-size: 16px;
    font-style: italic;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
}

ul.accordion li {
    height: 570px;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    -moz-box-shadow: 1px 3px 15px #555;
    -webkit-box-shadow: 1px 3px 15px #555;
    box-shadow: 1px 3px 15px #555;
}

li {
    width: 83px;
    transition: width 3s;
}

.heading {
    background-color: #fff;
    padding: 10px;
    margin-top: 60px;
    opacity: 0.9;
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 14px;
    color: #444;
    text-align: center;
    text-shadow: -1px -1px 1px #ccc;
}

li>div:last-of-type {
    opacity: 0;
    transition: opacity 300ms;
}

li>div:first-of-type {
    opacity: 1;
    transition: opacity 300ms;
}

li:hover>div:last-of-type {
    opacity: 1;
}

li:hover>div:first-of-type {
    opacity: 0;
}

li:hover {
    width: 400px;
    transition: width 3s;
}

.description {
    position: absolute;
    width: 480px;
    height: 180px;
    bottom: 0px;
    left: 0px;
    background: rgba(255, 255, 255, 0.8);
}

h2 {
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 45px;
    color: rgb(10, 8, 8);
    text-align: left;
    margin: 11px 0px 15px 20px;
    text-shadow: -1px -1px 1px #ccc;
}

h4 {
    text-decoration: line-through;
}

p {
    line-height: 14px;
    margin: 10px 22px;
    font-family: 'Rakkas';
    font-size: 22px;
    font-style: initial;
    font-weight: bold;
    text-transform: none;
    letter-spacing: normal;
    line-height: 1.6em;
}

ul.accordion li .description a {
    position: absolute;
    bottom: 5px;
    left: 20px;
    text-transform: uppercase;
    font-style: normal;
    font-size: 11px;
    text-decoration: none;
    color: #888;
}

ul.accordion li .description a:hover {
    color: #333;
    text-decoration: underline;
}

@media screen and (max-width: 500px) {
    ul.accordion {
        list-style: none;
        width: 100%;
        right: 11px;
        font-family: Cambria, serif;
        font-size: 16px;
        font-style: italic;
        line-height: 1.5em;
        display: grid;
        top: 32%;
    }
    ul.accordion li {
        float: right;
        height: 556px;
        border-right: 2px solid #fff;
        border-bottom: 2px solid #fff;
        background-color: #fff;
        background-repeat: no-repeat;
        background-position: center center;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        -moz-box-shadow: 1px 3px 15px #555;
        -webkit-box-shadow: 1px 3px 15px #555;
        box-shadow: 1px 3px 15px #555;
    }
    li {
        width: 90px;
        transition: width 3s;
    }
    .heading {
        background-color: #fff;
        padding: 10px;
        margin-top: 60px;
        opacity: 0.9;
        text-transform: uppercase;
        font-style: normal;
        font-weight: bold;
        letter-spacing: 1px;
        font-size: 14px;
        color: #444;
        text-align: center;
        text-shadow: -1px -1px 1px #ccc;
    }
    li>div:last-of-type {
        opacity: 0;
        transition: opacity 300ms;
    }
    li>div:first-of-type {
        opacity: 1;
        transition: opacity 300ms;
    }
    li:hover>div:last-of-type {
        opacity: 1;
    }
    li:hover>div:first-of-type {
        opacity: 0;
    }
    li:hover {
        width: 400px;
        transition: width 3s;
    }
    .description {
        position: absolute;
        width: 480px;
        height: 180px;
        bottom: 0px;
        left: 0px;
        background: rgba(255, 255, 255, 0.8);
    }
    h2 {
        text-transform: uppercase;
        font-style: normal;
        font-weight: bold;
        letter-spacing: 1px;
        font-size: 45px;
        color: rgb(10, 8, 8);
        text-align: left;
        margin: 11px 0px 15px 20px;
        text-shadow: -1px -1px 1px #ccc;
    }
    p {
        line-height: 14px;
        margin: 10px 22px;
        font-family: 'Rakkas';
        font-size: 22px;
        font-style: initial;
        font-weight: bold;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.6em;
    }
    ul.accordion li .description a {
        position: absolute;
        bottom: 5px;
        left: 20px;
        text-transform: uppercase;
        font-style: normal;
        font-size: 11px;
        text-decoration: none;
        color: #888;
    }
    ul.accordion li .description a:hover {
        color: #333;
        text-decoration: underline;
    }
}