<div>
    <h1>{{ title }} </h1>
</div>
<div>
    <ul class="accordion">
        <li class="ip8">
            <div class="heading">iPhone 8+</div>
            <div class="description">
                <h2>iPhone 8+</h2>
                <p>Repair Price - US $75.00</p>
                <h4>Repair Price - US $90.00</h4>
            </div>
        </li>
    </ul>
</div>

<div>
    <ul class="accordion">
        <li class="ip8small">
            <div class="heading">iPhone 8</div>
            <div class="description">
                <h2>iPhone 8</h2>
                <p>Repair Price - US $70.00</p>
                <h4>Repair Price - US $85.00</h4>
            </div>
        </li>
    </ul>
</div>
<div>
    <ul class="accordion">
        <li class="ip7">
            <div class="heading">iPhone 7+</div>
            <div class="description">
                <h2>iPhone 7+</h2>
                <p>Repair Price - US $75.00</p>
                <h4>Repair Price - US $90.00</h4>
            </div>
        </li>
    </ul>
</div>
<div>
    <ul class="accordion">
        <li class="ip7small">
            <div class="heading">iPhone 7</div>
            <div class="description">
                <h2>iPhone 7</h2>
                <p>Repair Price - US $70.00</p>
                <h4>Repair Price - US $85.00</h4>
            </div>
        </li>
    </ul>
</div>
<div>
    <ul class="accordion">
        <li class="ip6sPlus">
            <div class="heading">iPhone 6s+</div>
            <div class="description">
                <h2>iPhone 6s+</h2>
                <p>Repair Price - US $65.00</p>
                <h4>Repair Price - US $80.00</h4>
            </div>
        </li>
    </ul>
</div>
<div>
    <ul class="accordion">
        <li class="ip6s">
            <div class="heading">iPhone 6s</div>
            <div class="description">
                <h2>iPhone 6s</h2>
                <p>Repair Price - US $60.00</p>
                <h4>Repair Price - US $75.00</h4>
            </div>
        </li>
    </ul>
</div>
<div>
    <ul class="accordion">
        <li class="ip6Plus">
            <div class="heading">iPhone 6+</div>
            <div class="description">
                <h2>iPhone 6+</h2>
                <p>Repair Price - US $65.00</p>
                <h4>Repair Price - US $80.00</h4>
            </div>
        </li>
    </ul>
</div>
<div>
    <ul class="accordion">
        <li class="ip6">
            <div class="heading">iPhone 6</div>
            <div class="description">
                <h2>iPhone 6</h2>
                <p>Repair Price - US $55.00</p>
                <h4>Repair Price - US $70.00</h4>
            </div>
        </li>
    </ul>
</div>
<div>
    <ul class="accordion">
        <li class="ipSe">
            <div class="heading">iPhone SE</div>
            <div class="description">
                <h2>iPhone SE</h2>
                <p>Repair Price - US $50.00</p>
                <h4>Repair Price - US $65.00</h4>
            </div>
        </li>
    </ul>
</div>
<div>
    <ul class="accordion">
        <li class="ipX">
            <div class="heading">iPhone X</div>
            <div class="description">
                <h2>iPhone X</h2>
                <p>Repair Price - US $140.00</p>
                <h4>Repair Price - US $165.00</h4>
            </div>
        </li>
    </ul>
</div>
