ul.accordion {
    float: left;
    list-style: none;
    font-family: Camria, serif;
    font-size: 16px;
    font-style: italic;
    line-height: 1.5em;
}

ul.accordion li {
    width: 90px;
    height: 556px;
    display: inline-block;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    -moz-box-shadow: 1px 3px 15px #555;
    -webkit-box-shadow: 1px 3px 15px #555;
    box-shadow: 1px 3px 15px #555;
}

.heading {
    background-color: #fff;
    padding: 10px;
    margin-top: 60px;
    opacity: 0.9;
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 14px;
    color: #444;
    text-align: center;
    text-shadow: -1px -1px 1px #ccc;
}

.description {
    position: absolute;
    width: 480px;
    height: 180px;
    bottom: 0px;
    left: 0px;
    display: none;
    background: rgba(255, 255, 255, 0.8);
}

h2 {
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 45px;
    color: rgb(10, 8, 8);
    text-align: left;
    margin: 11px 0px 15px 20px;
    text-shadow: -1px -1px 1px #ccc;
}

p {
    line-height: 14px;
    margin: 10px 22px;
    font-family: 'Rakkas';
    font-size: 22px;
    font-style: initial;
    font-weight: bold;
    text-transform: none;
    letter-spacing: normal;
    line-height: 1.6em;
}

ul.accordion li .description a {
    position: absolute;
    bottom: 5px;
    left: 20px;
    text-transform: uppercase;
    font-style: normal;
    font-size: 11px;
    text-decoration: none;
    color: #888;
}

ul.accordion li .description a:hover {
    color: #333;
    text-decoration: underline;
}

ul.accordion li.bg1 {
    background-image: url(https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/image/AppleInc/aos/published/images/i/ph/iphone8/plus/iphone8-plus-gold-select-2018?wid=513&hei=556&fmt=jpeg&qlt=95&op_usm=0.5,0.5&.v=1522347727972);
}