:host {
    margin: auto;
    display: flex;
}

.home {
    padding: 20px;
}

h2 {
    margin-top: 5rem;
    text-align: center;
}

img {
    width: 100%;
    height: auto;
}
#box {
    width: 150px;
    height: 150px;
    position: absolute;
}

@media screen and (min-width: 1200px) {
    h2 {
        font-size: 2.8rem;
        color: #333;
    }
    #box {
        width: 150px;
        height: 150px;
        position: absolute;
    }
}

