:host {
    margin: auto;
    display: flex;
}

h2 {
    margin-top: 5rem;
    text-align: center;
    font-size: 3rem;
}

img {
    width: 100%;
    height: auto;
}
/* #slide {
    width: 150px;
    height: 150px;
    position: absolute;
} */

@media screen and (min-width: 1200px) {
    h2 {
        font-size: 1rem;
        color: #333;
    }
    #box {
        width: 150px;
        height: 150px;
        position: absolute;
    }
}

