:host {
    margin: auto;
    display: flex;
}

h2 {
    margin-top: 1rem;
    text-align: center;
    font-size: 1.5rem;
}

img {
    width: 100%;
    height: auto;
    padding-top: 6rem;
}
#slide {
    position: absolute;
}

@media screen and (min-width: 1200px) {
    h2 {
        font-size: 2.8rem;
        color: #333;
    }
    #slide {
        position: absolute;
    }
}

