:host {
    padding: 10px;
}

h5,h1 {
    padding-left: 1rem;
    padding-right: 1rem;
}
p {
    font-weight: 300;
    line-height: 1.4;
    margin-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}