<div>
    <h1>{{ title }} </h1>
    <h5>{{ header }}</h5>
</div>
<h1>{{ about }}</h1>
<h4 @fade>What we do</h4>
<p>Here at Doctor iOS we repair your phone screens at a very affordable price to help you save money. Get low-cost
    phone repair right at your door step because we even come to you.</p>
<h4 @fade>Why we do it</h4>
<p>We strive to save you money. Expenses for a new cell phone often is over $500, while an iPhone screen replacement 
    or other common cell phone repairs cost more than $300 on average. Don't break your phone screen then break the bank!</p>