<div class="flyer">
    <div class="container">
        <h1>Full Name *</h1>
        <mat-form-field>
            <input matInput placeholder="First name" [formControl]="email" required>
            <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Last name" [formControl]="email" required>
            <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        <h1>Phone Number *</h1>
        <mat-form-field>
            <input matInput placeholder="Please enter phone number" [formControl]="email" required>
            <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
    </div>
    <div class="button">
        <i class="fas fa-chevron-left" (click)="onNext()"></i>
        <i class="fas fa-chevron-right" (click)="onPrevious()"></i>
    </div>
</div>